<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Tatva_Supportingextensions::metatitle" title="Meta title" module="Tatva_Metatitle" sortOrder="80" action="metatitle/index/index" resource="Tatva_Supportingextensions::metatitle" parent="Tatva_Supportingextensions::supportingextension"/>   
	</menu>
</config>
