<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tatva_Supportingextensions::sentence" title="Sentence" action="sentence/index/index" module="Tatva_Sentence" parent="Tatva_Supportingextensions::supportingextension" sortOrder="9" resource="Tatva_Supportingextensions::sentence"/>
    </menu>
</config>