<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_RecurringStripe
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <amasty_stripe>
                <supports_amasty_subscriptions>1</supports_amasty_subscriptions>
                <amasty_subscriptions_display_name>Stripe</amasty_subscriptions_display_name>
            </amasty_stripe>
        </payment>
    </default>
</config>
