<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_RecurringStripe
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="amasty_recurring_order_placed_amasty_stripe">
        <observer name="amasty_recurring_stripe"
                  instance="Amasty\RecurringStripe\Observer\Order\CreateSubscriptions" />
    </event>
</config>
