<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<section id="customer">
			<group id="create_account">
				<field id="field1" type="select" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Enable Welcome Email</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
			</group>
			<group id="captcha" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="0">
				<field id="master_enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Master Captcha Enable</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="master_captcha" translate="label comment" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
					<label>Master Captcha Value</label>
					<depends>
						<field id="master_enable">1</field>
					</depends>
				</field>
			</group>
			 <group id="startup" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="customer_multilogin_disable" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Disable Multilogin For Customer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
		</section>
		<section id="button" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <tab>tatvasoft</tab>
            <group id="newcustomeradd" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>New Customer Register Logs</label>
                <field id="to_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(To)</label>                   
                </field>
                <field id="cc_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(cc)</label>
                    <comment>enter comma separated emails</comment>
                </field>
            </group>
            <group id="destroyemail" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Session Destroy Email Configuration</label>
                <field id="destroyemaildisable" translate="label comment" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0" canRestore="1">
                    <label>Enable Email For Destroy Session</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="toemail" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(To)</label>                   
                </field>
                <field id="ccemail" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(cc)</label>
                    <comment>enter comma separated emails</comment>
                </field>
            </group>
            <group id="user_delete" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration For Delete Users Script</label>
                <field id="email_like" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter email word need to delete accounts like....</label>
                </field>
            </group>
            <group id="emarsys_exclued_user" translate="label" type="text" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration For Email Should Not Pushed Into Emarsys</label>
                <field id="email_like" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter email list should not push into emarsys</label>
                </field>
            </group>
        </section>
        	
	</system>
</config>
