<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tatva_Supportingextensions::supportingextension" title="Supporting Extensions" module="Tatva_Supportingextensions" sortOrder="50" resource="Tatva_Supportingextensions::supportingextension"/>

    </menu>
</config>
