<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tatva_Loginpopup::viewData" title="Customer survey data" module="Tatva_Loginpopup" sortOrder="101" action="loginpopup/index/index" resource="Tatva_Loginpopup::viewData" parent="Magento_Customer::customer"/>   
    </menu>
</config>