<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <notification>
            <general>
                <total_limit>2</total_limit>
                <ealier_limit>4</ealier_limit>
                <header_popup_limit>5</header_popup_limit>
            </general>            
        </notification>       
    </default>
</config>