<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tatvasoft" translate="label" sortOrder="10">
            <label>TATVASOFT</label>
        </tab>
        <section id="ebook" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Ebook</label>
            <tab>tatvasoft</tab>
            <resource>Tatva_Ebook::tatva_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Ebook</label>

                <field id="categoryName" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Category for Ebook</label>
                    <source_model>Tatva\Ebook\Model\Config\Source\CategoryList</source_model>
                </field>

                <field id="sku" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter SKU for Main Ebook</label>
                </field>

            </group>
        </section>
    </system>
</config>