<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <tatva>
            <customdesignservices>
                <email>tatva_customdesignservices_email</email> 
            </customdesignservices>
        </tatva>
        <customer>
        	<captcha>
        		<shown_to_logged_in_user>
        			<custom_design_service_captcha>1</custom_design_service_captcha>
        		</shown_to_logged_in_user>
        		<always_for>
					<custom_design_service_captcha>1</custom_design_service_captcha>
				</always_for>
        	</captcha>
        </customer>
    	<captcha translate="label">
			<frontend>
				<areas>
					<custom_design_service_captcha>
						<label>Custom Design Service Captcha</label>
					</custom_design_service_captcha>
				</areas>
			</frontend>
		</captcha>
    </default>
</config>