<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Customer::customer" title="Customers" translate="title" sortOrder="40">
                    <resource id="Tatva_Deleteaccount::delete_account" title="Deleted Customers" sortOrder="40">
                        <resource id="Tatva_Deleteaccount::index" title="view" translate="title" sortOrder="10" />
                    </resource>
                    <resource id="Tatva_PaidCustomerPopup::viewData" title="Paid Customers" sortOrder="50">
                        <resource id="Tatva_PaidCustomerPopup::index" title="view" translate="title" sortOrder="10" />
                    </resource>
                </resource>
                <!-- <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Magento_Customer::config_customer" title="Customers Section" translate="title" sortOrder="50" />
                        </resource>
                    </resource>
                </resource> -->
            </resource>
        </resources>
    </acl>
</config>
