<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Tatva_Deleteaccount::delete_account" title="Deleted Customers" translate="title" module="Tatva_Deleteaccount" sortOrder="70" parent="Magento_Customer::customer" action="deleteaccount/index/" resource="Tatva_Deleteaccount::delete_account"/>
    </menu>
</config>
