<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tatvasoft" translate="label" sortOrder="10">
            <label>TATVASOFT</label>
        </tab>
        <section id="button" translate="label" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="1">
            <group id="2checkout" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>2Checkout Ipn Issue Email Setting</label>
                <field id="to_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(To)</label>                   
                </field>
                <field id="cc_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(cc)</label>
                    <comment>enter comma separated emails</comment>
                </field>
            </group>            
        </section>
    </system>
</config>