<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_register_success">
		<observer name="tatva_loginpopup_customer_register_success" instance="Tatva\Loginpopup\Observer\CustomerRegistered"/>
	</event>
	<event name="customer_login">
		<observer name="tatva_loginpopup_customer_login" instance="Tatva\Loginpopup\Observer\CustomerLoggedin"/>
	</event>
	<event name="customer_logout">
		<observer name="tatva_loginpopup_customer_logout" instance="Tatva\Loginpopup\Observer\CustomerSignout"/>
	</event>
</config>
