<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!-- 	<type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
		<plugin name="Tatva_Catalog::removeProgressBar" type="Tatva\Checkout\Plugin\Block\Checkout\LayoutProcessor" />
	</type> -->
	<preference for="Magento\Checkout\Block\Checkout\LayoutProcessor" type="Tatva\Checkout\Block\Checkout\LayoutProcessor" />
	<preference for="Magento\Checkout\Controller\Onepage\Success" type="Tatva\Checkout\Controller\Onepage\Success" />
	<preference for="Magento\Checkout\Controller\Cart\Add" type="Tatva\Checkout\Controller\Cart\Add" />
</config>
