<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="tatvasoft" translate="label" sortOrder="10">
            <label>TATVASOFT</label>
        </tab>
        <section id="brochure" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Brochure</label>
            <tab>tatvasoft</tab>
            <resource>Tatva_Brochure::tatva_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Brochure</label>
                <field id="categoryName" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Choose Category for Brochure</label>
                    <source_model>Tatva\Resume\Model\Config\Source\CategoryList</source_model>
                </field>
                <field id="one_brochure_blog_id" translate="label" type="text" sortOrder="1" showInDefault="1">
                    <label>Enter Single Brochure Blog Id</label>                   
                </field>
                <field id="to_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(To)</label>                   
                </field>
                <field id="cc_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enter Email(cc)</label>
                    <comment>enter comma separated emails</comment>
                </field>
            </group>
        </section>
    </system>
</config>