@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap');
body{
	font-family: 'Open Sans', sans-serif !important;	
}
*
{	
	padding:0;
	margin:0;	
}
i.fa.fa-thumbs-o-up.logout-rating {
	font-size: 27px;
	font-weight: 600;
}


.copen_codes.coupon_deals {

    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
}
.copen_codes {
  
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
}

span.reviewCount.like-count {
	padding: 0px 6px;
	font-size: 20px;
	font-weight: 600;
}

.couponcodebtn .btn {
	font-size: 14px  !important;
}

i.fa.fa-thumbs-o-down.logout-rating {
	font-size: 27px;
	font-weight: 600;
	margin-left: 15px;
}

.col-sm-12, .col-md-6, .col-md-3 {
	float: left;
}
.main-wrapper {
	max-width: 1370px;
	margin: 0 auto;
}
.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show>.btn-info.dropdown-toggle:focus {
	box-shadow: none;
}

.clicking-code.active {
	padding: 0px 14px;
	height: 35px;
	border-radius: 20px;
	line-height: 23px;
	font-size: 15px !important;
}

.coupn_lefttext{
	width: 70%;
	float: left;
	padding-right: 15px;
	box-sizing: border-box;
}

img.coupen_rghtimg {
    right: 0;
    transform: translate(44%,0%);
    position: absolute;
    width: 43%;

}
.row.coupon_topsec {
	position: relative;
	width: 100%;
	float: left;
}
.row.coupon_topsec {
	margin-bottom: 90px;
}
.coupon_topsec p {
	color: #464646;
	font-size: 15px;
	line-height: 30px;
	
}
.copen_codes {
	border-radius: 4px;
	/* padding: 20px 0px; */
	width: 100%;
	float: left;
	margin-bottom: 48px;
	margin-right: 20px;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
	border-radius: 4px;
}
.copen_codes.coupon_deals {
	position: relative;
	-webkit-box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.4);
	border-radius: 4px;
}
.coupon_topsec h2 {
	font-size: 40px;
	font-weight: 600;
	color: #333333;
	padding-top: 30px;
	margin-bottom: 14px;
}
#coupon_content h3 {
	font-weight: 600;
	color: #28a7fb;
	margin: 0 0 19px;
	font-size: 21px;
	line-height: 26px;
	margin-top: 9px;
}

.coupon_percent strong {
	font-size: 64px;
	width: 100%;
	float: left;
	margin-bottom: 10px;
	font-weight: 600;
}
.coupon_percent h4 {
	/* display: inline-block; */
	vertical-align: middle;
	/* height: 174px; */
	color: #fff;
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 0px;
	margin-top: 18px;
	line-height: 1.1;
}
.coupon_percent {
	width: 27%;
	float: left;
	padding: 20px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	border-radius: 4px 0px 0px 4px;
}
.coupon_descrption {
	
	float: left;
	padding: 12px 19px;
}

p.descrptn {
	color: #ccc;
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 3px;
}
p.off_prsnt {

    font-size: 17px;
    color: #009beb;
    font-weight: 600;
    margin-bottom: 10px;
}
p.coupen_allownance {
	color: #9a9797;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 15px;
}
.rating-summary .rating-result:before {
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	-webkit-font-smoothing: antialiased;
	color: #c7c7c7;
	font-family: 'icons-blank-theme';
	font-size: 28px;
	height: 28px;
	letter-spacing: -10px;
	line-height: 28px;
	content: '\e605' '\e605' '\e605' '\e605' '\e605';
	display: block;
	font-style: normal;
	font-weight: normal;
	speak: none;
}
#coupon_content a.action.view {
	color: #28a7fb;
	font-weight: 600;
	font-size: 14px;
	line-height: 30px;
}
.custmer_reviews {
	width: 41%;
	float: left;
	padding: 13px 8px;

}
.custmer_reviews li {
	list-style: none;
}

i.fa.fa-star-o.review_icon {
	padding-right: 8px;
}
.couponcodebtn button#clicking {
	background: #28a7fb;
	color: #fff;
	border: 2px solid #28a7fb;
	padding: 0 10px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	-ms-border-radius: 30px;
	-o-border-radius: 30px;
	border-radius: 30px;
	height: 50px;
	line-height: 45px;
	font-weight: 600;
	font-size: 18px;

}
.couponcodebtn button#clicking:hover {
	color: #373737;
	background: #ffffff;
}
i.fa.fa-star-o.review_icon {
	padding-right: 8px;
}

.custmer_reviews ul {
	margin-bottom: 0px;
}
.copen_codes.coupon_deals .coupon_percent:before {
	position: absolute;
	/* background-image: url(../images/week_dealimg.png); */
	background-repeat: no-repeat;
	content: ""url(../images/week_dealimg.png);
	left: 0;
	top: -10px;
}

.copen_codes.coupon_deals {
	position: relative;
}

.recommended-product .recommended-title h4 {

	color: #2d2d2d;
	font-weight: 700;
	letter-spacing: 0.4px;
	margin: 0 0 15px;
	font-size: 22px;
	margin-bottom: 30px;
}
.left_couponblk {
	width: 75%;
	float: left;
	padding-right: 15px;
	box-sizing: border-box;
}
div#coupen_right {
	width: 25%;
	float: right;
	padding-left: 15px;
	box-sizing: border-box;
}
.lightblue_color {
	background-color: #19a4fd;
}
.darkblue_color {
	background-color: #2188ca;
}
hr {
	margin-bottom: 40px;
}
span.reviewCount.dislike-count {
	padding: 0px 6px;
	font-size: 20px;
	font-weight: 600;
}
.coupon-slick-slider {
	width: 24%;
	float: right;
}
div#coupon-emarsys {
	margin-bottom: 25px;
}
.recommended-title-top.browse-post.block-posts h4 {
	font-weight: 600;
	color: #28a7fb;
	margin: 0 0 19px;
	font-size: 21px;
	line-height: 26px;
	margin-top: 9px;
}
.verticla-slider-content.products-grid-outer.blog-vertical-slider {
	background: #f4f8f9;
	text-align: center;
	padding: 10px;
	border: 1px solid #ccc;
}

.sidebar-main.blog-right .wp-sidebar .block-posts .block-content {
	border: 1px solid #c1c1c1;
	background: #f5f8f9;
	border-top: 0;
	padding: 20px;
	margin-top: 0;
}
i.fa.fas.fa-chevron-up {
	font-size: 20px;
	font-weight: 400;
	color: #333;
	margin-bottom: 10px;
	margin-bottom: 15px;
}
i.fa.fas.fa-chevron-down {
	font-size: 20px;
	font-weight: 400 !important;
	color: #333;
	margin-bottom: 10px;
	text-align: center;
	margin: 0 auto;
	float: none;
	margin-top: 15px;

}
div#coupon-emarsys .block-title strong {

	display: block;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 0.4px;
	line-height: 25px;
	padding: 12px 20px;
	background: #344b59;
}
.slick-slide img {
	display: block;
	width: 98%;
	border: 1px solid #ccc;
}
section.vertical-center.slider.products-grid.slick-initialized.slick-slider.slick-vertical {
	text-align: center;
}
p.product-name.content-trim-popular {
	text-align: left;
	margin-top: 5px;
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	float: left;
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #1979c3;
}
p.product-name.content-trim-popular:hover{
	color: #006bb4;
}
.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
	width: 100% !important;
	float: left;
	margin-bottom: 20px;
}

.products-slide{
	width:97%;
}

.products-slide .recommended-product .recommended-list .owl-nav .owl-prev{
	left: -32px !important;
}
.products-slide .recommended-product .recommended-list .owl-nav .owl-next{
	right: -32px !important;
}
.product-name-trim-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #28a7fb;
}
.product-name-trim-2:hover {
	color: #00649a;
}
@media (max-width: 1800px){
	.recommended-product {
	    padding: 20px 8px 0;
	    box-sizing: border-box;
	}
}
@media (min-width: 1680px) and (max-width:1900px) {
	.coupon-code-wrapper, .coupn_bar {
    	padding-left: 8%;
	}
}

@media (max-width: 1600px) {
	.coupn_bar .conatiner {
		padding: 0px 110px;
	}
	.left_couponblk {
		padding-left: 100px;
	}
}

@media (max-width: 1536px) {


.coupon_percent {
    width: 19%;

}

	.coupon_descrption {
		padding: 27px 19px;
	}	
	.coupn_bar .conatiner {
		padding: 0 166px;
	}
	.row.coupon_topsec {
		margin-bottom: 15px;
	}	
	section#coupon_content {
		margin-right: 37px;
	}
	.coupon-content-main {
		padding-left: 233px;
		padding-right: 30px;
	}
	.left_couponblk {
		padding-left: 0px;
	}
	.coupon_percent strong {
		font-size: 60px;
	}
	.coupon_percent {  
    	height: 167px;
  	}
}

@media (max-width:1535px)
{
	.coupon-content-main {
		padding-left: 220px;
	}
}

@media (min-width:1440px) and (max-width:1680px){
	.products-slide
	{		
    	width: 99% !important;
	}
}





@media (max-width: 1440px) {
	p.off_prsnt {  
    	margin-bottom: 0px;
	}
	.coupn_bar .conatiner {
		padding: 0 0px;
	}
	.coupon-content-main {
	    padding-left: 6%;
	}
	.main-wrapper {
		padding: 0px 60px;
	}
	img.coupen_rghtimg {
		transform: translate(0%,0%);
		width: 40%;
	}
	.custmer_reviews {
		width: 42%;
	}
	.coupon_descrption {	
		float: left;
		padding: 24px 15px;
	}
	.coupn_lefttext {
		width: 60%;
		padding-left: 25px;
	}
	.coupon_topsec p {
		font-size: 13px;
		line-height: 26px;
	}
	.coupon_topsec h2 {
		font-size: 31px;
	}
	section#coupon_content {
		margin-top: 40px;
	}
	.left_couponblk {
		padding-left: 0px;
	}
	.coupon_percent strong {
		font-size: 50px;
	}
	section#coupon_content {
		width: 100%;
		float: left;
		margin-top: 0px;
	}
	section#coupon_content .main-wrapper.clearfix {
		padding: 0px;
	}
	.row.coupon_topsec {
		margin-bottom: 30px;
	}
	.coupon_percent {
		width: 24%;
	}
	p.coupen_allownance {  
    	font-size: 14px;
		margin-bottom: 7px;
	}
	.coupon-code-wrapper, .coupn_bar {
	    padding-left: 8%;
	}
	.coupon-content-main {	    
	    padding-right: 30px;
	}
	.products-slide .recommended-product .recommended-list .owl-nav .owl-next {
	    right: -30px !important;
	}
	.products-slide .recommended-product .recommended-list .owl-nav .owl-prev {
	    left: -23px !important;
	}
}

@media (min-width: 865px) and (max-width: 1439px)
{
	.products-slide
	{
		padding-left: 35px !important;    	
	}
}

@media (max-width: 1366px) {

	.coupn_lefttext {

		padding-left: 0px;
	}
	.coupon-content-main {
		padding-left: 0px;
		padding-right: 0px;
	}
	.coupn_bar .conatiner {
		padding: 0px;
	}
	.recommended-product {
		padding: 20px 0px 0;
	}
	.left_couponblk {
		padding-left: 0px;
	}
	div#coupon-emarsys .block-title strong {
		display: block;
		color: #fff;
		font-size: 17px;
	}
	.coupon-slick-slider {
		width: 23%;
		float: left;
		padding-left: 30px;
	}
	.coupon-code-wrapper, .coupn_bar {
		padding-left: 13%;
	}
	#coupon_content h3, .recommended-title-top.browse-post.block-posts h4{
		font-size: 16px;
	}
	section#coupon_content {
		width: 100%;
		float: left;
		margin-top: 0px;
	}
	section#coupon_content .main-wrapper.clearfix {
		padding: 0px;
	}

	section#coupon_content .main-wrapper.clearfix {
		padding: 0px;
	}
	.left_couponblk {
		width: 70%;
		float: left;
		padding-right: 15px;
		box-sizing: border-box;
	}
	img.coupen_rghtimg {
		transform: translate(6%,1%);
		width: 40%;
	}
	.couponcodebtn .btn {
		height: 40px;
		line-height: 35px;
	
		padding: 0px 8px;
	}
	p.off_prsnt {

		margin-bottom: 9px;
	}
	p.coupen_allownance {

		font-weight: 600;

	}
	p.off_prsnt {
		font-size: 14px;
	}
	.row.coupon_topsec {
		margin-bottom: 0px;
	}
	.custom-coupon-slider {
		width: 100%;
		margin-left: 0px;
	}
	
	section#coupon_content {
		margin-left: 0px;
		margin-right: 37px;
	}
	.coupon_percent strong {
		font-size: 43px;
	}
	.products-slide {
	    width: 92% !important;
	}
}

@media (max-width: 1280px) {
	.coupn_bar .conatiner {
		padding: 0 0px;
	}	
	.left_couponblk {
	    width: 64%;
	}
	
	.coupn_lefttext {

		padding-left: 0px;
	}
	.coupn_bar .main-wrapper.clearfix {
		padding-left: 0px;
		padding-right: 0px;
		width: 100%;
		max-width: 100%;
	}
	.coupn_bar .conatiner {
		padding: 0px 27px;
	}

	.left_couponblk {
		padding-left: 40px;
	}
	.coupon_percent h4 {
		margin-top: 0px;
		font-size: 20px;
	}
	
	div#coupon-emarsys .block-title strong {

		font-size: 15px;
	}
	p.off_prsnt {

		font-size: 16px;
		margin-bottom: 8px;
	}
	.coupon_percent strong {
		font-size: 59px;
	}
	.custmer_reviews {
		width: 43%;
		float: right;
	}
	p.descrptn {
		color: #ccc;
		font-size: 16px;
	}
	.coupon_descrption {
		width: 100%;
		float: left;
		padding: 12px 15px;
	}
	.copen_codes {
		margin-bottom: 25px;
	}
	section#coupon_content {
		margin-left: 0px;
	}
	.coupn_lefttext {
		width: 62%;
		padding-left: 20px;
	}
	#coupon_content h3, .recommended-title-top.browse-post.block-posts h4 {
		font-size: 22px;
		margin-bottom: 23px;
	}
	.coupon-slick-slider {
		width: 30%;
	}
	.coupon-slick-slider {
	    width: 30%;
	}
	.coupon_percent {
	    width: 100%;
	    float: left;
	    padding: 20px 0px;
	    height: 97px;
	}
	.products-slide {
	    width: 92% !important;
	}

}

@media (max-width: 1050px) {
	.coupon-code-wrapper, .coupn_bar {
    	padding-left: 14%;
	}
	.products-slide {
	    width: 90%;
	}
}

@media (max-width: 1024px) {
	.left_couponblk {

		padding-left: 48px;
	}

	.coupon_topsec h2 {

		padding-top: 0px;
	}
	p.coupen_allownance, p.off_prsnt, p.descrptn {

		font-size: 15px;

	}
	.coupon_percent strong {
		font-size: 53px;

	}
	.custmer_reviews {
		width: 43%;
	}
	label.summary-text {
		font-size: 12px;
	}
	#coupon_content a.action.view {

		font-size: 12px;
	}

	.coupon_topsec p {

		font-size: 13px;
		line-height: 25px;
	}
	.coupon_percent h4 {

		margin-top: 20px;
	}
	.coupon_percent strong {
		font-size: 45px;
		margin-top: 0px;
	}
	.coupon-slick-slider {
	    width: 26%;
	}
	.left_couponblk {
	    width: 64%;
	}

}

@media (max-width: 1023px) {

.coupon-code-wrapper, .coupn_bar {
    padding-left: 0px;
}
}


@media (max-width: 990px) {
	.row.coupon_topsec .col-lg-7.col-md-6.col-sm-12 {
		width: 100%;

		max-width: 100%;
		flex: 100%;
	}
	.coupn_bar {
		padding-left: 0px;
	}

	.coupn_lefttext {
		width: 100%;
		padding-left: 6%;
	}
	.custmer_reviews {
		width: 48%;
	}
	img.coupen_rghtimg {

		display: none;
	}
	.left_couponblk {

	width: 97%;
    float: left;

	}
	section#coupon_content {
		margin-top: 20px;
	}
	.left_couponblk {

		padding-right: 0px;
	}
	.coupon_percent strong {
		font-size: 58px;
		margin-top: 0px;
	}
	.coupon_percent h4 {
		margin-top: 4px;
	}
	section#coupon_content {
		margin-top: 20px;
		width: 100%;
		float: left;
	}
	div#coupen_right {
		width: 100%;
		float: right;
	}
	#coupon_content .main-wrapper {
		padding: 0px 19px;
		max-width: 100%;
		float: left;
		padding: 0px 20px;
	}
	.coupn_bar .conatiner {
		padding: 0px;
	}
	.coupon-code-wrapper, .coupn_bar {
		padding-left: 4%;
	}
	section#coupon_content .main-wrapper.clearfix {
		padding: 0px;
	}
	.left_couponblk {
		padding-left: 0px;
	}
	.coupon-slick-slider {
		width: 32%;
		float: left;
		padding-left: 30px;
	}
	section#coupon_content {
		margin-left: 0px;
		margin-right: 0px;
	}

	#coupon_content h3, .recommended-title-top.browse-post.block-posts h4 {
		font-size: 26px;
		margin-bottom: 23px;
	}
}

@media (max-width: 900px) {

	.coupn_lefttext {
		width: 100%;
		padding-left: 0%;
	}
	.coupon_percent strong {
		font-size: 58px;
		margin-top: 6px;
	}


}

@media (min-width: 420px) and (max-width: 864px)
{
	.products-slide
	{
		padding-left: 26px !important;
    	/*max-width: 94% !important;*/
	}
}

@media (max-width: 800px) {
	.left_couponblk {
		padding-left: 0px;
	}
	
	.coupon_percent strong {

		margin-top: 4px;
	}
	.coupn_bar .main-wrapper.clearfix {
		padding: 0px;
	}
	.coupn_lefttext {
		padding-left: 0px;
	}
}


@media (max-width: 768px) {

	.left_couponblk {
		width: 96%;
		float: left;
	}
	section#coupon_content {
		margin-left: 0px;
		margin-right: 0px;
	}
	section#coupon_content .main-wrapper.clearfix {
		padding: 0px;
		width: 100%;
	}
	.coupn_bar {
		padding-left: 4%;
	}
	.left_couponblk {
		width: 100%;
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	.coupon-code-wrapper {
		padding-left: 0px;
	}
	.coupon-slick-slider {
		width: 50%;
	}

	.coupon_percent strong {

		margin-top: 0px;
	}
	.copen_codes.coupon_deals {
		position: relative;
		margin-bottom: 10px;
	}
	#coupon_content h3, .recommended-title-top.browse-post.block-posts h4 {
		font-size: 26px;
		margin-bottom: 25px;
	}

	.products-slide
	{
		margin-left:5px;
		/*max-width:93% !important;*/
	}

	.custom-coupon-sidebar{
		display:none;
	}
}

@media (max-width: 767px) {

	#coupon_content .main-wrapper {
		padding: 0px 33px;
	}
	.coupn_bar .main-wrapper.clearfix {
		padding: 0px 0px;
	}
	.coupn_bar {
		padding-left: 4%;
	}
	.left_couponblk {
		width: 100%;
		float: left;
		padding-left: 20px;
		padding-right: 20px;
	}
	.coupon-code-wrapper {
		padding-left: 0px;
	}

	.recommended-product .recommended-list {
	    padding: 0 17px !important;	    
	}
	.coupon_percent {
  
    position: relative;
     }

.couponcode-index-index .column.main {
    flex-grow: inherit !important;
    -webkit-flex-basis: inherit;
}
	
	
	
}

@media (max-width: 720px)
{
	.products-slide{
		margin-left: 0px;
	}
}

@media (max-width: 600px) {
	p.coupen_allownance, p.off_prsnt, p.descrptn {
	    font-size: 15px;
	    margin-bottom: 11px;
	    padding: 2px 3px;
	    box-sizing: border-box;
	    width: 100%;
	    float: left;
	}
	.copen_codes {
		width: 100%;
	}
	.btn {
		height: 40px;
		line-height: 35px;
		font-size: 15px;
		padding: 0px 20px;
	}
	.custmer_reviews {
		width: 100%;
	}
	.coupon_descrption {
		width: 100%;
	    float: left;
	    padding: 10px 10px;
        box-sizing: border-box;
	    margin-left: 0px !important;
	}
	#coupon_content a.action.view {
		font-size: 10px;
		line-height: 19px;
	}

	.custmer_reviews {

		padding: 18px;
	}

	p.off_prsnt {

		margin-bottom: 3px;
	}
	.custmer_reviews {

		padding-top: 0px;
	}
	#coupon_content .product-reviews-summary .rating-summary {
		display: block;
	}
	#coupon_content a.action.view {
		font-size: 12px;
		line-height: 19px;
	}
	
	#coupon_content .main-wrapper {
		padding: 0px 16px;
	}
	.coupon_topsec h2 {
		font-size: 25px;
	}
	.coupon-slick-slider {
		width: 94%;
		float: left;
		padding-left: 5px;
	}
	.custmer_reviews {
		width: 100%;
		float: left;
	}
}

@media (max-width:420px)
{
	.products-slide {
    	margin-left: 13px;
	}
} 


@media (max-width: 320px) { 

	.recommended-outer {
		height: auto;
	}
}

#coupon_content .product-reviews-summary.no-rating {
	width: auto;
}

p.coupen_expired {
	color: #ff6741 ;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 0px;
}

.rating-summary .fa {
	font-size: 3.2em;
}
.rating-summary .fa-thumbs-down,.rating-summary .fa-thumbs-o-down {
	transform:rotateY(180deg);
}
.rating-summary i {
	color: #19a4fd;
}