<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="downloaded" translate="label" sortOrder="10">
            <label>Slidegeeks Configuration</label>
        </tab>
        <section id="downloaded_options" translate="label" sortOrder="300" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Mostdownloaded Products Config</label>
            <tab>downloaded</tab>
            <resource>Tatva_Downloaded::downloaded_options</resource>
            <group id="max_size" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Set Max Size of Mostdownloaded Products</label>
                <field id="max_size_downloaded" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Max Size of Mostdownloaded Products</label>
                </field>
            </group>
        </section>
    </system>
</config>