<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>  
        <add id="Tatva_Supportingextensions::unsubuser" title="Unsubscribe User" module="Tatva_Unsubscribeuser" sortOrder="72" parent="Tatva_Supportingextensions::managesubscriber"
            action="tatva_unsubscribeuser/items/" resource="Tatva_Supportingextensions::unsubuser"/>
        </menu>
    </config>
