<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="recurring_order_listing_data_source" xsi:type="string">Tatva\RecurringOrders\Model\ResourceModel\Recurringorder\Recurringorder\Collection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Tatva\RecurringOrders\Model\ResourceModel\Recurringorder\Recurringorder\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">recurring_orders</argument>
            <argument name="resourceModel" xsi:type="string">Tatva\RecurringOrders\Model\ResourceModel\Recurringorder</argument>
        </arguments>
    </virtualType>
</config>