<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    <add id="Tatva_Supportingextensions::index" 
        resource="Tatva_Formbuild::index" 
        title="Manage Forms" 
        action="form/index/index" 
        module="Tatva_Formbuild" 
        sortOrder="10" 
        parent="Tatva_Supportingextensions::supportingextension"/>
    </menu>
</config>