<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_RecurringPayments
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Magento\Catalog\Ui\DataProvider\Product\Form\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="amasty-subscription" xsi:type="array">
                    <item name="class" xsi:type="string">Amasty\RecurringPayments\Ui\DataProvider\Product\Form\Modifier\SubscriptionSettings</item>
                    <item name="sortOrder" xsi:type="number">200</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <!--  add subscriptions to customer form edit in admin panel (magento version >= 2.3.0)  -->
    <type name="Magento\Customer\Model\Customer\DataProviderWithDefaultAddresses">
        <plugin name="Amasty_RecurringPayments::ModelCustomerDataProviderWithDefaultAddresses" type="Amasty\RecurringPayments\Plugin\Model\Customer\DataProviderWithDefaultAddressesPlugin"/>
    </type>
    <!--  add subscriptions to customer form edit in admin panel (magento version < 2.3.0) -->
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="Amasty_RecurringPayments::ModelCustomerDataProvider" type="Amasty\RecurringPayments\Plugin\Model\Customer\DataProviderWithDefaultAddressesPlugin"/>
    </type>
    <!-- refund subscription product + initial fee -->
    <type name="Magento\Sales\Model\Order\Payment">
        <plugin name="Amasty_RecurringPayments::ModelOrderPayment" type="Amasty\RecurringPayments\Plugin\Model\Order\PaymentPlugin"/>
    </type>
</config>

