<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<type name="Tco\Checkout\Model\Checkout">
        <plugin name="Tatva.TcoCheckout.Plugin.Model.Checkout" type="Tatva\TcoCheckout\Plugin\Model\Checkout" sortOrder="10"/>
    </type>
    <preference for="Tco\Checkout\Model\Notification" type="Tatva\TcoCheckout\Model\Notification" />
</config>